<p>house works!</p>

<form #sendData = "ngForm" (ngSubmit)="submit(sendData.value); sendData.reset()">
  <input type="text" name="loanAmount" placeholder="enter loan amount" ngModel/>
  <br><br>
  <input type="text" name="paybackTime" placeholder="enter duration" ngModel/>
  <br><br>

  <select #selectFreq (change)="onSelected(selectFreq.value)">
    <option name="frequency" *ngFor="let type of payBackType">{{type}}</option>
  </select>
  <br><br>

  <input type="text" name="interestType" placeholder="enter type" ngModel/>
  <br><br>
  <button>Send info</button>
<form> 


<p>Monthly fee: {{showData}}</p>

