

<form name="houseForm" #sendData = "ngForm" (ngSubmit)="submit(sendData.value); sendData.reset()">
  <label>Loan Amount</label>
  <br>
  <input type="text" name="loanAmount" ng-model="loanAmount" placeholder="enter loan amount" required ngModel/>
    <span ng-show="houseForm.loanAmount.$untouched || houseForm.loanAmount.$invalid">* required.</span>
  <br><br> 
  <label>Payback Period (years)</label>
  <br>
  <input type="text" name="paybackTime" ng-model="paybackTime" placeholder="enter duration" required ngModel/>
    <span ng-show="houseForm.paybackTime.$untouched || houseForm.paybackTime.$invalid">* required.</span>
  <br><br>
  <label>Payback Frequency (months)</label>
  <br>
  <select #selectFreq (change)="onPbSelected(selectFreq.value)">
    <option name="frequency" *ngFor="let type of paybackType">{{type}}</option>
  </select>
  <br><br>
  <label>Interest Type (fixed, variable, etc)</label>
  <br>
  <select #selectType (change)="onItSelected(selectType.value)">
    <option name="interestType" *ngFor="let type of interestType">{{type}}</option>
  </select>
  <br><br>
  <button>Send info</button>
<form> 
  <br><br>

<p>Monthly fee: {{showData}}</p>

